{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["tests"],
            "in": "vendor"
        }
    ],
    "main": "bin/babl",
    "output": "babl.phar",
    "stub": true
}
